[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
stop-words = "*"
requests = "*"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
httpx = "*"
chardet = "*"
selenium = "*"

[requires]
python_version = "3.8"
